.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*
{
  margin: 3px;
}

.headerBoard
{
  text-align: center;
}


.pad
{
  height: 175px;
  width: 225px;
  border: 1px solid black;
  background-color: rgb(215, 215, 215);
  border-radius: 20px;
  text-align: center;
  margin: 1px;
}

.board
{
  margin: auto;
  width:457px;
  height:357px;
  background-color:rgb(255, 255, 255);
  display:grid;
  grid-template-columns: auto auto;
}

.inputPad
{
  height: 50px;
  width: 100px;
  border: 2px solid black;
  background-color: rgb(215, 215, 215);
  border-radius: 5px;
  margin: 1px;
}

.inputBoard
{margin-top: 50px;
  float: left;
  width: 225px;
  height: 350px;
  background-color:rgb(228, 27, 27);
  display:grid;
  grid-template-columns: auto auto;
}







